{% assign sorted_tags = page.tags | sort %}

<p class="page__taxonomy">
    <strong>
        <i aria-hidden="true" class="fas fa-fw fa-tags"></i>
        {{ site.data.ui-text[site.locale].tags_label | default: "Tags:" }}
    </strong>

    <span itemprop="keywords">
        {% for tag in sorted_tags %}
            <span class="page__taxonomy-item p-category">{{ tag }}</span>

            {% unless forloop.last %}
                <span class="sep">, </span>
            {% endunless %}
        {% endfor %}
    </span>
</p>